@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 960px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background: cornflowerblue;
    display: flex;
  justify-content: space-between;
    
}
.header-logo {
    padding: 25px;
}


.navbar {
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 20px;

}
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
   
    
}

.navbar ul li{
    display: inline; /* pone en linea el menu*/   
}
.navbar ul li a{
    display: inline-block;
    padding: 10px;
    background-color: greenyellow;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul li a:active{
    color: red;
}
.navbar ul li a:visited{
    color: fuchsia;
}
.navbar ul li a:link{
    color: blue;
}
.navbar ul li a:hover{
    color: yellow;
}
.descripcion {
    width: 960px;
    height: 180px;
}
.contenido-principal {
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
 
    min-height: 200px;
    background: pink;
}
.secciones {
    min-height: 200px;
}
footer {
    width: 960px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    background-color:goldenrod;
    color:black;
}
.datos {
    width: 300px;
    height: 180px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.redes{
    float:right;
    text-align: center;
    padding: 20px;   
}