@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    
}


.header{
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(167, 204, 218);
    display: flex;
  justify-content: space-between;
  
    
}
#logo {
   width: 200px;
   height: 200px;
   margin-top: -60px;
   
   

}


.navbar {
    width: 100%;
    height: 40px;
    float: right;
    margin-top: 20px;

}
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
   
    
}

.navbar ul li{
    display: inline; /* pone en linea el menu*/   
}
.navbar ul li a{
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul li a:active{
    color: red;
}
.navbar ul li a:visited{
    color: rgb(57, 58, 48);
}
.navbar ul li a:link{
    color: rgb(57, 58, 48);
}
.navbar ul li a:hover{
    color: rgb(100, 120, 123);
}
.descripcion {
    width: 100%;
    height: 180px;
}
.contenido-principal {
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
 
    min-height: 200px;
    background: pink;
}
.secciones {
    min-height: 200px;
}
footer {
    width: 9100%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    background-color:goldenrod;
    color:black;
}
.datos {
    width: 300px;
    height: 180px;
    float: left;
    padding: 20px;
    box-sizing:content-box;
}
.redes{
    float:right;
    text-align: center;
    padding: 20px;   
}